streamlit==1.58.0
langchain-classic==1.0.7
langchain-community==0.4.2
langchain-text-splitters==1.1.2
langchain-chroma==1.1.0
langchain-openai==1.2.2
pypdf==6.13.1
chromadb==1.5.9
httpx==0.28.1
httpcore==1.0.9
